@model IEnumerable<SuppliesInIndex>
@{
    ViewData["Title"] = "SuppliesInReport";
    Layout = "~/Views/Shared/_ReportsLayout.cshtml";
    var Supplies_Income = TempData["Supplies_Income"] as IEnumerable<Supplies_Income>;
    var Equipments = TempData["EquipmentsM"] as IEnumerable<Equipments>;
    var Supplies_Outcome = TempData["Supplies_OutcomeM"] as IEnumerable<Supplies_Outcome>;
    var Supplies_IncomeSum = TempData["Supplies_IncomeSum"];
    var EquipmentsSum = TempData["EquipmentsSumM"];
    var SuppliesSum = TempData["SuppliesSumM"];
}
<h3>المورد : @Supplies_Income.FirstOrDefault().Importer</h3>
<div class="accordion" id="accordionExample">
    @*pacts*@
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                المبالغ المطلوبه
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse">
            <div class="accordion-body">
                <h4>الاجمالي : @Supplies_IncomeSum</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>المهندس</td>
                            <td>نوع التوريد</td>
                            <td>المبلغ</td>
                            <td>تاريخ الاضافه</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var expense in Supplies_Income)
                        {
                            <tr>
                                <td>@Html.DisplayFor(M => expense.Engineer.FullName)</td>
                                <td>@Html.DisplayFor(M => expense.Type)</td>
                                <td>@Html.DisplayFor(M => expense.Value)</td>
                                <td>@Html.DisplayFor(M => expense.DateOfAdding)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*Outcome*@
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                التوريدات
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse">
            <div class="accordion-body">
                <h4>Total : @SuppliesSum</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>نوع التوريد</td>
                            <td>الكميه</td>
                            <td>سعر الوحده</td>
                            <td>المبلغ الاجمالي</td>
                            <td>وحده الحساب</td>
                            <td>تاريخ الاضافه</td>
                            <td>البون</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var expense in Supplies_Outcome)
                        {
                            <tr>
                                <td>@Html.DisplayFor(M => expense.Type)</td>
                                <td>@Html.DisplayFor(M => expense.Amount)</td>
                                <td>@Html.DisplayFor(M => expense.CountPrice)</td>
                                <td>@Html.DisplayFor(M => expense.Price)</td>
                                <td>@Html.DisplayFor(M => expense.PriceType)</td>
                                <td>@Html.DisplayFor(M => expense.DateOfAdding)</td>
                                <td>
                                    @if (expense.ImageName is not null)
                                    {
                                        <a class="btn btn-info" onclick="changeImage('/media/images/@(expense.ImageName)')" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            <i class="fas fa-eye"></i> الصوره
                                        </a>
                                    }
                                    else
                                    {
                                        <p>لا يوجد صوره للبون</p>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @*Equipments*@
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                المعدات
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse">
            <div class="accordion-body">
                <h4>الاجمالي : @EquipmentsSum</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>اسم المعده</td>
                            <td>سعر الساعه</td>
                            <td>عدد الساعات</td>
                            <td>المبلغ الكلي</td>
                            <td>تاريخ الاضافه</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var expense in Equipments)
                        {
                            <tr>
                                <td>@Html.DisplayFor(M => expense.Name)</td>
                                <td>@Html.DisplayFor(M => expense.HourPrice)</td>
                                <td>@Html.DisplayFor(M => expense.HourCount)</td>
                                <td>@Html.DisplayFor(M => expense.TotalPrice)</td>
                                <td>@Html.DisplayFor(M => expense.DateOfAdding)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog .modal-dialog-work">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="Imgchange" alt="Image" />
            </div>
        </div>
    </div>
</div>